[global]
# input_base = input
process_base = process
output_base = output

input_base = https://s3.wri-indonesia.id/earth-observation/far/ntb/input/
#process_base = https://s3.wri-indonesia.id/earth-observation/far/ntb/process/
#output_base = https://s3.wri-indonesia.id/earth-observation/far/ntb/output/


[input]
aoi=ntb.shp
forest_cover_t1=forest_t1.tif
forest_cover_t2=forest_t2.tif
forest_cover_t3=forest_t3.tif
elevation=ntb_elevation.tif
slope=ntb_slope.tif
road=ntb_osm_roads.shp
settlement=settlement.tif
river=river.tif
protected_area=protected_area.shp

[process]
road=road.tif
settlement=settlement.tif
forest_cover_change_t12=forest_cover_change_t12.tif
forest_cover_change_t23=forest_cover_change_t23.tif
distance_deforestation_t12=distance_deforestation_t12.tif
distance_deforestation_t23=distance_deforestation_t23.tif
distance_forest_edge_t2=distance_forest_edge_t2.tif
distance_forest_edge_t3=distance_forest_edge_t3.tif
distance_road=distance_road.tif
distance_river=distance_river.tif
distance_settlement=distance_settlement.tif

[output]
